body::-webkit-scrollbar {
    display: none;
}

#mainLogo {
    transition: 0.5s ease-in-out;
}

#mainLogo:hover {
    transform: rotate(-360deg);
}

#searchForm {
    margin: auto;
}

#authButtons Button {
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 8px;
}

#authButtons {
    display: flex;
    gap: 10px;
    margin: 5px;
}