body::-webkit-scrollbar {
    display: none;
}

body, form {
    cursor:url('https://cdn.custom-cursor.com/db/15818/32/color-christmas-green-and-red-cursor.png'), auto;
}

#mainLogo {
    transition: 0.5s ease-in-out;
}

#mainLogo:hover {
    transform: rotate(-360deg);
}

#searchForm {
    margin: auto;
}

input:hover, a:hover, .btn:hover {
    cursor:url('https://cdn.custom-cursor.com/db/15817/32/color-christmas-green-and-red-pointer.png'), auto;
}

#authButtons Button {
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 8px;
}

#authButtons {
    display: flex;
    gap: 10px;
    margin: 5px;
}

.formLogin {
    display: grid;
    width: 50%;
    margin: 100px auto auto;
    height: 200px;
}

.formLogin button{
    margin-top: 10px;
}